<!DOCTYPE html>
<html>
  <head>
    <title>GenericSocialMedia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-emerald-100">
    <main class="container mx-auto my-28 px-5 h-full flex max-w-7xl bg-emerald-200">
      <div class="pr-5 w-1/4">
        <%= yield :left_content %>
      </div>
      <div class="pr-5 w-3/4">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
